.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-container {
  display: grid;
  margin: 0 auto 10px;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 150px;
  grid-gap: 10px;
}

.gallery-image {
  display: block;
  /* needed for the flex fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  cursor: pointer;
}

.gallery-image-big {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
@supports (display: grid) {
  .gallery-image {
    margin: 0;
  }
}

.gallery-image-inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image-inner-bottom {
  object-position: center bottom;
}
