.index-item-link--active {
  color: #222299;
  pointer-events: none;
  text-decoration: none;
}

.index-item-link--active::after {
  content: ">";
  margin-left: 5px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 500px) {
  .wrapper {
    margin: 0 auto;
    grid-template-columns: minmax(120px, 1fr) 3fr;
  }

  .header,
  .footer {
    grid-column: 1 / -1;
  }
}
