.em {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.image-fit {
  width: 100%;
}

.title-both {
  font-weight: bold;
  font-style: italic;
}

.title-bold {
  font-weight: bold;
}

.title-desc {
  font-weight: normal;
}

.title-desc-last {
  margin-bottom: 10px;
}
